/*Added  css to home*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #443c6a;
}

.page {
  margin-top: 10%;
}

.Count {
  font-size: 4rem;
  color: #e0dfe4;
  text-align: center;
  margin-bottom: 2rem;
}
.check {
  font-size: 30px;
  text-align: center;
  color: #fff;
  margin-bottom: 2rem;
}
.h3 {
  margin-bottom: 2rem;
}
/* Links */
a {
  text-decoration: none;
  transition: color 0.3s;
}

h2 {
  color: blue;
  text-align: center;
  margin-top: 2rem;
  font-size: 3rem;

 
}
a h2:hover {
  color: lightblue;
  transition: color 0.3s;
}
h3 {
  color: #fff;
  font-size: 22px;
  text-align: center;
  color: rgb(233, 94, 94);
}

.btn,
.btns {
  background-color: red;
  color: white;
  border-radius: 2rem;
  border: none;
  font-size: 20px;
  padding: 10px;
  margin: 2rem;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 12rem;
 

 
}
.btn:hover {
  background-color: rgb(162, 42, 15);
}
.btns:hover {
  background-color: rgb(162, 42, 15);
}
.footer {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.lens {
  font-size: 14px;
  color: #777;
}

/* Media Query for Small Screens */
@media screen and (max-width: 620px) {
  .page {
    position: fixed;
     bottom: 4%;

 
 

  
  }

  .Count {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  .btn,
  .btns {
    font-size: 17px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 12rem;
  }
}




/*Added css to the Counter*/

.counter {
  position: absolute;
  background-color: #0f063c;
  padding: 100px;
  margin-top: 5rem;
  margin-left: 15rem;
  margin-right: 1rem;
  padding-bottom: 4rem;
  text-align: center;
  font-weight: 100;  
  

}

.col {
  color: white;
  text-align: center;
  font-size: 9rem;
  border-right: 0.15em solid orange;
  border-left: 0.15em solid orange;
  background-color: #0f063c;
}

.colbtn {
  background-color: #2114d7;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 6px;
  font-size: 20px;
  transition: 0.5s ease;
}
.colbtn:hover {
  background-color: #0f063c;
}

input {
  padding: 15px;
  border: none;
  margin: 10px;
  border-radius: 8px;
  background-color: white;
}

.btnss {
  margin: 20px 0;
  margin-right: 30px;
  color: #fff;
  padding-left: 8rem;
  background-color: #0f063c;
}
a .btnss:hover {
  color: #0056b3;
  transition: color 0.3s;
}

/* Media Query for Small Screens */
@media screen and (max-width: 620px) {
  .counter {
    position: fixed;
    margin: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
    top: 1rem;
    font-size: 30px;
  }

  .col {
    font-size: 25px;
    margin: 5rem;
    background-color: #0f063c;
  }

  .colbtn {
    padding: 8px 16px;
    font-size: 14px;
    margin-bottom: 20px;
    color: white;
  }

  input {
    padding: 8px;
  }
  .btnss {
    font-size: 18px;
    background-color: #0f063c;
  }
}
@media only screen and (max-height: 670px) {
  .counter {
    height: 650px;
  }
}

/* errorPage.css */

.error-page {
  background-color: whitesmoke;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 10rem;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: center;
}

h1 {
  font-size: 36px;
  color: #ff0000;
  margin: 20px 0;
}

p {
  font-size: 18px;
  color: black;
  margin: 10px 0;
}
.title {
  font-size: 4rem;
  background-color: whitesmoke;
}
.subtitle {
  background-color: whitesmoke;
}
.notfound {
  background-color: red;
  color: #fff;
  padding: 17px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  margin-top: 30px;
  font-size: 16px;
  transition: 0.3s ease;
}
.notfound:hover {
  background-color: #c73217;
}

/* Media Query for Small Screens */
@media screen and (max-width: 620px) {
  .title {
    font-size: 2rem;
  }

  .subtitle {
    margin-top: 1rem;
    font-size: 17px;
  }

  .notfound {
    font-size: 14px;
  }
}

/* errorTest.css */

.error {
  background-color: whitesmoke;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 10rem;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: center;
}

h4 {
  font-size: 24px;
  color: #ff0000;
  margin: 20px 0;
}

.plink {
  font-size: 18px;
  color: #333;
  margin: 10px 0;
  background-color: whitesmoke;
}

/* Media Query for Small Screens */
@media screen and (max-width: 620px) {

  .plink {
    font-size: 18px;
    margin: 5px 0;
  }
}

/*footer css*/
.footer {
  text-align: center;
  margin-top: 23px;
}

.lens {
  margin: 5px 0;
  text-align: center;
  font-size: 15px;
}

/* Mobile Responsiveness for Footer */
@media (max-width: 620px) {
  .footer {
    font-size: 14px;
  }
}
